PUID=1000
PGID=1000

APP_NAME=Flowarr
APP_ENV=local
APP_KEY=base64:HspeEMOlsW2WEBAXpsG9tiFresGrmbNjqSpTkJCZ/bA=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=flowarr
DB_USERNAME=sail
DB_PASSWORD=password

SESSION_DRIVER=database
SESSION_LIFETIME=120

FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database


VITE_APP_NAME="${APP_NAME}"

SAIL_XDEBUG_MODE=develop,debug,coverage
